$color_1: #333;
$color_2: orange;
$color_3: #3397db;
$color_4: #aaa;
$color_5: #fff;
$color_6: black;
$color_7: #0275d8;
$color_8: #01447e;
$color_9: #f18200;
$color_10: #ddd;
$color_11: #f58500;
$color_12: #666;
$font_family_1: Arial, Helvetica, sans-serif;
$font_family_2: Arial, Helvetica, sans-serif;
$background_color_1: #fdfdfd;
$background_color_2: #f3f3f3;
$background_color_3: #444;
$background_color_4: #252831;
$background_color_5: #ccc;
$background_color_6: #ccc;
$background_color_7: #252831;
$background_color_8: white;
$background_color_9: #fff;
$background_color_10: orange;
$background_color_11: #333;

@charset "utf-8";

* {
	box-sizing: border-box;
	margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0px;
    margin-inline-end: 0px;
	padding-inline-start: 0px;
	padding-inline-end: 0px;
}

body {
	font-family: $font_family_1;
	font-size: 10pt;
	color: $color_1;
	line-height: 1.5;
	background-color: $background_color_1;
	margin: auto;
	position: relative;
	max-width: 1600px;
}
td {
	font-family: $font_family_1;
	font-size: 10pt;
	color: $color_1;
	line-height: 1.5;
}
th {
	font-family: $font_family_1;
	font-size: 10pt;
	color: $color_1;
	line-height: 1.5;
}
p {
	font-family: $font_family_1;
	font-size: 10pt;
	color: $color_1;
	line-height: 1.5;
}
ul {
	font-family: $font_family_1;
	font-size: 10pt;
	color: $color_1;
}
li {
	font-family: $font_family_1;
	font-size: 10pt;
	color: $color_1;
}
a {
	color: $color_2;
	text-decoration: none;
	&:hover {
		color: $color_3;
		text-decoration: none;
	}
	&:focus {
		color: $color_3;
		text-decoration: none;
	}
	img {
		border: none 0px $color_5;
	}
}
h1 {
	font-family: $font_family_1;
	margin: 0 0 20px;
}
h2 {
	font-family: $font_family_1;
	margin: 0 0 20px;
}
h3 {
	font-family: $font_family_1;
	margin: 0 0 20px;
}
h4 {
	font-family: $font_family_1;
	margin: 0 0 20px;
}
h5 {
	font-family: $font_family_1;
	margin: 0 0 20px;
}
h6 {
	font-family: $font_family_1;
	margin: 0 0 20px;
}
article {
	display: block;
}
aside {
	display: block;
}
canvas {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}


/* ====================== Navigation ====================== */

nav {
	display: block;
	width: 100%;
	height: auto;
	background-color: $background_color_4;
	text-align: center;
	h1 {
		margin: auto;
		padding: 12px 0px;
		a {
			color: $color_5;
			font-size: 14pt;
			font-weight: 200;
			letter-spacing: 10px;
			text-transform: uppercase;
		}
	}
	@media only screen and (max-width: 440px) {
		h1 {
			a {
				font-size: 12pt;
				letter-spacing: 5px;
				text-transform: uppercase;
			}
		}
	}
}

.sub-header {
	width: 100%;
	height: 40px;
	background-color: $background_color_5;
	#map-button {
		font-size: 24px;
		float: right;
		padding: 5px 15px 5px 0px ;
	}
	@media only screen and (min-width: 800px) {
		#map-button {
			display: none;
		}
	}

	#home-button {
		font-size: 24px;
		float: left;
		padding: 5px 0px 5px 15px ;
	}
	@media only screen and (min-width: 800px) {
		#home-button {
			display: none;
		}
	}

	#breadcrumb {
		position: relative;
		float: left;
		width:  80%;
		padding: 10px 40px 5px ;
		list-style: none;
		margin: 0;
		
		/* Display list items side by side */
		li {
			display: inline;
			font-size: 15px;
			padding: 4px 0px;
		   
			/* Add a color to all links inside the list */
			a {
				color: $color_7;
				text-decoration: none;
	
				/* Add a color on mouse-over */
				&:hover {
					color: $color_8;
					text-decoration: underline;
				}
			}
		}

		/* Add a slash symbol (/) before/behind each list item */
		li+li:before {
			padding: 1px;
			color: black;
			content: "/\00a0";
		}
	}

	@media only screen and (max-width: 800px) {
		#breadcrumb {
			display: none;
		}
	}
}

section {
	display: block;
}

#maincontent {
	background-color: $background_color_2;
	min-height: 100%;
}
#footer {
	background-color: $background_color_3;
	color: $color_4;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 15px 0px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
}

img {
	max-width: 100%;
}


/* ====================== Map ====================== */

#map {
	height: 400px;
	width: 100%;
	background-color: $background_color_6;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
	width: 100%;
	height: auto;
	background-color: $background_color_7;
	padding-bottom: 10px;
	.select-group {
		height: auto;
		margin: 2px auto;
		max-width: 450px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	select {
		background-color: $background_color_8;
		border: 1px solid #fff;
		font-family: $font_family_2;
		font-size: 11pt;
		height: 40px;
		letter-spacing: 0;
		margin: 10px 10px 0px 10px;
		padding: 0 10px;
		width: 180px;
	}
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
	background-color: $background_color_2;
	list-style: outside none none;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;

	li {
		background-color: $background_color_9;
		font-family: $font_family_2;
		
		display: flex;
		flex-direction: column;
		width: 90%;
		max-width: 350px;
		margin: 10px;

		box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
		border-radius: 12px; 

		h1 {
			color: $color_9;
			font-family: $font_family_2;
			font-size: 14pt;
			font-weight: 200;
			letter-spacing: 0;
			line-height: 1.3;
			margin: 10px 10px 10px;
			text-transform: uppercase;
			text-align: center;
		}

		a {
			background-color: $background_color_10;
			border-bottom: 3px solid #eee;
			color: $color_5;
			display: inline-block;
			font-size: 10pt;
			margin: 10px auto 10px auto;
			padding: 8px 30px 10px;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
		}
		.restaurant-img {
			background-color: $background_color_6;
			width: 100%;
			border-radius: 12px 12px 0px 0px ;
		}
	}

	p {
		margin: 0px 15px;
		font-size: 11pt;
		text-align: left;
	}
}


/* ====================== Restaurant Details ====================== */

.inside {
	max-width: 1200px;
	margin: auto;

	header {
		position: fixed;
		top: 0;
		width: 100%;
		max-width: 1200px;
		z-index: 1000;
	}

	.row {
		display: flex;
	}
	  
	.col-1 , col-2  {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	#map-container {
		background: blue none repeat scroll 0 0;
		height: calc(100vh - 95px);;
		position: fixed; 
		width: 50%;
		max-width: 600px;
		top: 95px;   
	}

	@media only screen and (max-width: 800px) {
		.row {
			display: flex;
			flex-direction: column;
		}
		
		.col-1 {
			width: 100%;
		}

		.col-2 {
			#map-container {
				width: 100vw;
				left: 100vw;
				transition: left 0.3s ease;
			}
		}

		.col-2.open {
			#map-container {
				left: 0vh;
			}
		}
	}

	#map {
		background-color: $background_color_6;
		height: 100%;
		width: 100%;
	}
	#footer {
		bottom: 0;
		position: absolute;
		width: 100%;
		max-width: 1200px;
	}

	i {
		margin: 0px 5px;
	}
}

#restaurant-container {
	margin: 110px 20px 20px 20px;
	padding: 10px;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 5px; 
}

#restaurant-name {
	color: $color_9;
	font-family: $font_family_2;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: center;
	padding: 10px 0px;
	margin: 0px;
}

@media only screen and (max-width: 440px) {
	#restaurant-name {
		font-size: 16pt;
	}
}

#restaurant-img {
	width: 100%;
}
#restaurant-address {
	font-size: 12pt;
	margin: 10px 0px;
}
#restaurant-cuisine {
	background-color: $background_color_11;
	color: $color_10;
	font-size: 12pt;
	font-weight: 300;
	letter-spacing: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 0px;
}

@media only screen and (max-width: 440px) {
	#restaurant-cuisine {
		font-size: 10pt;
	}
}

#reviews-container {
	width: 90%;
	margin: 20px auto;
	border-top: 2px solid #fff;
	h2 {
		color: $color_11;
		font-size: 16pt;
		font-weight: 300;
		letter-spacing: -1px;
		margin-top: 5px;
		padding-bottom: 1pt;
		text-transform: uppercase;
	}

	#reviews-list {
		margin: 0;
		padding: 0;
		li {
			box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
			border-radius: 5px; 
			background-color: $background_color_9;
			border: 2px solid #f3f3f3;
			display: flex;
			flex-direction: column;
			list-style-type: none;
			margin: 20px 0px;
			padding: 20px;
			width: 100%;

			div {
				display: flex;
				font-size: 32pt;
				justify-content: space-evenly;

				.stars {
					width: 30%;
					margin: 0px 0px 0px 5px ; 
					i {
						margin: 0px 0px;
					}
				}
			}

			p {
				padding: 10px 0px;
			}
		}
	}
}

#restaurant-hours {
	td {
		padding: 5px 10px;
		color: $color_12;
	}
}
